
<div class="part1-user">
  <div  class="info-profil">
     <%= cl_image_tag("7d0rmde6zovr3vpuxkp3odl1y54s", width:150 , height: 150, crop: :fill, class: "img_animal",radius: "max",style: "border-radius: 50%;") %>
     <%= cl_image_tag("herbes-09_vzwqhz", width:150 , height: 150, crop: :fill, class: "herb") %>
    <div class="ml-5">
      <h1 >Bonjour <%= current_user.username %></h1>
      <p>Membre depuis <%= current_user.created_at.year %></p>
    </div>
  </div>
</div>
<div class="part2">
    <%= cl_image_tag("herbes-07_dwd2kg", width:150 , height: 150, crop: :fill, class: "herb2") %>
    <h2>Mes animaux Airbivor, à la location:</h2>
    <div class= "cards" >
      <% current_user.animals.each do |animal| %>
        <div class=" card-category" id="account-animal" style="background-image: url('<%= animal.photos[0].url%>')">
          <div class="hidden">
            <p><%= animal.name %> </p><hr>
            <p> <%= animal.specie %></p>
          </div>
        </div>
      <% end %>
    </div>
</div>
<div class="part-3">
  <div class="wrap3">
    <h2>Mes commentaires reçus :</h2>
    <div class="reviews d-flex row mb-5">
      <div class="review col-5 d-flex">
        <div class="img-card mr-2">
          <%= cl_image_tag("7d0rmde6zovr3vpuxkp3odl1y54s", width:80 , height: 80, crop: :fill, radius: "max",style: "border-radius: 50%;") %>
          <p style="text-align: center;"> <strong> Écrit le: </strong>
            23/04/2020</p>
          <%= cl_image_tag("Lama_picto-04_tuh79a", width:70 , crop: :fill) %>
        </div>
        <div class="text-card">
          <p> ⭐ ⭐ ⭐ ⭐ ✰</p>
          <h5>A loué Serge le Lama</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium, sem quis egestas interdum, odio nunc porta metus, sed tristique eros elit rhoncus neque. Sed quis faucibus lectus. Pellentesque tortor nisl, condimentum interdum ligula ut. </p>
        </div>
      </div>
      <div class="review col-5 offset-1 d-flex">
        <div class="img-card mr-2">
          <%= cl_image_tag("7d0rmde6zovr3vpuxkp3odl1y54s", width:80 , height: 80, crop: :fill, radius: "max",style: "border-radius: 50%;") %>
          <p style="text-align: center;"><strong> Écrit le: </strong>
            23/04/2020</p>
          <%= cl_image_tag("escargot_picto-05_fsqlu4", width:80 , height: 75, crop: :fill) %>
        </div>
        <div class="text-card">
          <p> ⭐ ⭐ ⭐ ☆ ☆</p>
          <h5>A loué Margot l’escargot et sa smala</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium, sem quis egestas interdum, odio nunc porta metus, sed tristique eros elit rhoncus neque. Sed quis faucibus lectus. Pellentesque tortor nisl, condimentum interdum ligula ut.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="part-4">
  <h2>Mes réservations :</h2>
  <div class="cards">
    <% @orders.each do |order| %>
      <%#= link_to animal_order_path(order.animal, order) do %>
        <div class="card-trip">
          <img src="<%= order.animal.photos[0].url%>" />
          <div class="card-trip-infos">
            <div>
              <h2>Nom: <%= order.animal.name %></h2>
              <h3>Proprio: <%= order.animal.user.username%></h3> 
              <small class="card-trip-pricing">Total price :<%= order.animal.price_per_day * (order.end_date - order.start_date ).to_i %>€ </small>
            </div>
          </div>
        </div>
      <%# end %>
    <% end %>
  </div>
</div>