<div class="full-width">
  <div class="margin-100"></div>
  <h1>Les animaux Airbvor</h1>
  <p>Disponible à partir de: 12/03/2021 pendant une durée de 2 jours</p>
  <div class="d-flex flex-row justify-content-around text-align-center mt-4 mb-4" id="species">
    <i class="fas fa-chevron-left pt-2 arrow"></i>
    <button type="submit" href="animals/find/lapin" class="btn tag-btn col-2 pb-1">Lapin<% session[:specie] = "lapin" %></button>
    <button type="button" href="animals/find/vegan" class="btn tag-btn col-2 pb-1">Vegan</button>
    <button type="button" class="btn tag-btn col-2 pb-1"> Escargot</button>
    <button type="button"  class="btn tag-btn col-2 pb-1">Lama</button>
    <button type="button"  class="btn tag-btn col-2 pb-1">Chèvres</button>
    <i class="fas fa-chevron-right pt-2 arrow"></i>

  </div>

  <div class="index-content pb-4">
    <div class="cards-index no-border">
        <% @animals.limit(4).each do |animal| %>
          <%= link_to animal_path(animal) do %>
          <div class="card-trip">
            <img src="<%= animal.photos.first.url%>" />
            <div class="card-trip-infos">
              <div>
                <h2><%= animal.specie.capitalize %></h2>
                <h3><%= animal.name.capitalize %></h3>
<!--                   <small><%= animal.address %></small>
 -->                <h2 class="card-trip-pricing"><%= animal.price_per_day %>€/ jour</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
            </div>

            </div>
          <% end %>
        <% end %>
        <div class="full-width">
          <div class="saloperie">
            <i class="fas fa-chevron-left pt-2 arrow"></i>
            <% (1..4).each do |number| %>
              <%= link_to number, "#" %>
            <% end %>
            .... <%= link_to 7, "#" %>
            <i class="fas fa-chevron-right pt-2 arrow"></i>
          </div>
        </div>
    </div>
    <div id="map" class="mt-3 mr-4"
      style="width: 47vw; height: 99vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
